section{
    color:var(--color-primary);
    background-color: var(--color-bg);
    display:flex;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 2rem;
    flex-direction: row;
    margin: 0.5rem;
}