.reserveButton {
    display: inline !important;
}

.cardCol {
    display:flex;
    align-items: center;
}

.intro-container-class{
    margin:4rem 2rem;
    padding: 1rem;
}

.intro-card-class{
    margin-bottom: 1rem;
}
