.footer_container .card_container{
    background-color: var(--color-bg);
    color: white;
    border: none;
    margin: 1rem auto;
}

.row {
    justify-content: center;
}


#footer_logo{
    max-width:15rem;
    background-color: white;
    margin: 2rem auto;
    padding: 1rem;
}


.social_media_logo{
    margin: 0.7rem;
    color: white;
}
